* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(60deg, rgb(64, 160, 160), rgb(78, 75, 225));
    color: #fff;
    font-family: Suruma, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    padding: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

h1 {
    font-size: 86px;
    text-align: center;
    margin: 86px;
}

.gallery_list {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.6));
    border-radius: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 54px;
}

.picture {
    border: 3px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    margin: 28px;
    max-height: 250px;
    max-width: 250px;
    transition: transform 0.33s;
    overflow: hidden;
}

.picture:hover {
    transform: scale(1.33);
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.picture img:focus,
.picture img:focus-visible {
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.pop_up {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: appear 0.33s;
}

.pop_up.hidden {
    display: none;
}

.pop_up.fade {
    animation: fade 0.33s both;
}

.pop_up__img {
    height:75%;
    width: 75%;
}

.pop_up__close {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: 92px;
    position: fixed;
    top: 72px;
    right: 72px;
    transition: color 0.33s;
}

.pop_up__close:hover {
    color: rgba(255, 255, 255, 0.8);
}

.pop_up__arrow {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 92px;
    line-height: 92px;
    height: 92px;
    width: 92px;
    position: absolute;
    top: 50%;
    opacity: 0.4;
    transition: opacity 0.33s;
}

.pop_up__arrow:hover {
    opacity: 0.8;
}

.pop_up__arrow--left {
    left: 5%;
}

.pop_up__arrow--right {
    right: 5%;
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
